#wagered-card-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    grid-area: left-column;
    border: 1px solid green;
    text-align: center;
    overflow-y: auto;
}

#wagered-card {
    width: 95%;
    margin: auto;
}