#shown-card-container {
    display: flex;
    flex-direction: column;
    grid-area: left-column;
    border: 1px solid green;
    text-align: center;
    overflow-y: scroll;
}

#shown-card {
    width: 95%;
    margin: auto;
}